.cpcache
.DS_Store
config.edn
version.edn
riker-state.clj
logs
resources/public/data/images/meme/*
resources/public/data/gps/*
resources/public/data/events/*
!resources/public/data/images/meme/README.md