.cpcache
.DS_Store
.nrepl-port
config.edn
version.edn
riker-state.clj
riker.tgz
logs
resources/public/data/images/meme/*
resources/public/data/gps/*
resources/public/data/steps/*
resources/public/data/events/*
!resources/public/data/images/meme/README.md