{
  :irc-servers {
    :libera {
      :uri "your.irc.server"
      :port 6667
      :name "Your bot full name"
      :nick "yourbotnick"
    }
  }
  :channel "#yourchannel"
  :port 5001
  :site-root "http://111.111.1.11"
  :gps-device-id "your_device_id"
  :version #include "version.edn"
}
